.container {
    width: 90%;
    margin: 0 auto;
    &--flexified {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @include for-size(tablet-portrait-up) {
        width: 740px;
    }
    @include for-size(desktop-up) {
        width: 960px;
    }
    @include for-size(big-desktop-up) {
        width: 1200px;
    }
}